body {
    font-family: Helvetica;
}

form {
    margin: 15px 0;
}

input {
    margin: 4px 0px;
}

a img {
    outline: none;
}

.centered_wrapper {
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 0;
    top: 0; left: 0; bottom: 0; right: 0;
    position: absolute;
    font-family: Helvetica;
}

.centered {
    display: inline-block;
    top: 40%; left: 0; bottom: 0; right: 0;
    position: absolute;
    padding: 0;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#thought {
    width: 28ch;
    padding: 0.4em;
    font-size: inherit;
    background-color: #fff;
}

#bulb[disabled], #bulb:not([disabled]), #bulb:not([disabled]):hover {
    padding: 0.47em 1em;
    background: rgba(0,0,0,0);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-width: 0;
    font-size: inherit;
}

#bulb[disabled] {
    background-image: url("../static/bulb.png");
    opacity: 0.6;
}

#bulb:not([disabled]) {
    background-image: url("../static/bulb_lit.png");
    opacity: 0.6;
}

#bulb:not([disabled]):hover {
    background-image: url("../static/bulb_lit.png");
    opacity: 1;
    cursor: pointer;
}


#loading_text {
    position: absolute;
    margin-right: 50px;
    left: 46%;
}

.message {
    font-size: 0.8em;
}

.replies {
    margin-left: 42px;
    border: 0px solid black;
}

.lame {
    color: #bbb;
}
