<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Enter your thought as a sentence, and talk instantly with others having similar thoughts!">
    <meta name="keywords" content="thought, let, it, flow, thoughtflow">
    <meta name="author" content="Viktor Toth">
    <title>{{ title }}</title>
    <link href="../static/index.css" type="text/css" rel="stylesheet" />
    <script src="../static/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="../static/index.js" type="text/javascript"></script>
    <script src="../static/group.js" type="text/javascript"></script>
</head>
<body>

<p><a href="/">Home</a></p>
<p style="font-size:1.2em">cluster # {{ clustering_id }} / group {{ group }}</p>

{% if write_rights %}

<div id="feedback_zone">
    {% if feedback == 0 %}
        <input type="hidden" name="group_id" id="group_id" value="{{ group }}">
        <input type="button" name="upvote" id="upvote" value="seems like my group">
        <input type="button" name="downvote" id="downvote" value="not my group">
    {% elif feedback is not none %}
        {% if feedback > 1 or feedback < -1 %}
            <p>Already voted: thoughtflow learnt from your feedback {{ feedback|abs }} times already</p>
        {% else %}
            <p>Already voted: thoughtflow is learning from your feedback..</p>
        {% endif %}
    {% endif %}
</div>


<div>
    <form method="post" action="/group">
        <input type="text" name="voted" placeholder="post id" width="10px">
        <input type="number" name="vote" min="-1" max="1" value="0">
        <input type="hidden" name="group" value="{{ group }}">
        <input type="submit" name="vote_button" value="vote">
    </form>

    <form method="post" action="/group">
        <input type="text" name="parent" placeholder="(reply to) post id" title="if not a reply, leave empty"><br>
        <textarea placeholder="post" name="post" required></textarea><br>
        <input type="hidden" name="group" value="{{ group }}">
        <input type="submit" name="post_button" value="post">
    </form>
</div>

{% if message %}
    <p id="message" class="message">{{ message }}</p>
{% endif %}

{% if added_vote %}
    <p id="added_vote" class="message">{{ added_vote }}</p>
{% endif %}

{% if added_post %}
    <p id="added_post" class="message">{{ added_post }}</p>
{% endif %}

{% endif %}

<!--
test: 768f723ce8a66ccb88d5d1ddee19a713 group
session: 23e1cf11080c8c2f24fa19d775ed3b27
sessions.session, sessions.user, posts.ID, posts.PARENT, posts.TEXT, posts.TS
-->

<section id="posts">

    {% if content.__len__() > 0 %}
        {% for post in content.itervalues() recursive %}
            <section class="post {{ 'lame' if post.vote_count < -2 }}">
                <p>
                    # {{ post.post.id }}
                    by {{ user }}
                    <span class="vote" style="font-size:0.8em;font-weight:bold">
                        {% if post.vote_count > 0 %}
                            <span style="font-size:1.4em">▲</span>
                        {% elif post.vote_count < 0 %}
                            <span style="font-size:1.4em">▼</span>
                        {% else %}
                            <span style="font-size:1.7em;font-weight:bold;padding:0 2px">-</span>
                        {% endif %}
                        {{ post.vote_count }}
                    </span>
                </p>
                <p>
                    {{ post.post.text }}
                </p>
                {% if post.replies.__len__() > 0 %}
                    <section class="replies">
                        {{ loop(post.replies.itervalues()) }}
                    </section>
                {% endif %}
            </section>
        {% endfor %}
    {% endif %}

</section>

</body>
</html>