<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Enter your thought as a sentence, and talk instantly with others having similar thoughts!">
    <meta name="keywords" content="thought, let, it, flow, thoughtflow">
    <meta name="author" content="Viktor Toth">
    <title>thoughtflow.io</title>
    <link href="../static/index.css" type="text/css" rel="stylesheet" />
    <script src="../static/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="../static/index.js" type="text/javascript"></script>
</head>

<body>

<div class="centered_wrapper">
    <form method="post" action="/syn" class="centered" style="font-size:2em">
        <input type="text" id="thought" name="thought" value="{{ thought }}" placeholder="your thought in a sentence ..."
               autocomplete="on" onfocus="this.setSelectionRange(0, this.value.length); checkThought(this.value);"
               onkeyup="checkThought(this.value);" autofocus required />
        <input type="submit" id="bulb" name="bulb" value=" " disabled />
        <p id="message" style="font-size:0.6em">{{ message }}</p>
    </form>
</div>

<div style="position:absolute">
    {% for thought in thoughts %}
        <p style="">
            <a href="{{ thought.path }}">{{ thought.sentence }}</a> - {{ thought.state }}
        </p>
    {% endfor %}
</div>

<p id="footer">Lookout, alpha version only! Mail any bugz, issues, thanks, threats to <span style="font-weight:bold;color:blue">viktor@thoughtflow.io</span>!</p>

</body>

</html>